a{
  all: unset;
  cursor: pointer;
}

.home{
  background-color: white;
  color: black;
  margin: 5px;
  padding: 8px 10px;
  border-radius: 6px;
  align-self: center;
}

.home:hover{
  background-color: orangered;
  color: white;
}

nav{
  justify-content: space-around;
}

.foodDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   margin: 10px;
  padding: 10px;
}

.heading{
  color: tomato;
  font-size: 24px;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.heading2{
  color: white;
  background-color: tomato;
  margin: 5px;
  padding: 8px 15px;
  border-radius: 5px 15px;
  font-size: 16px;
}

.imgBox{
  position: relative;
}


.foodImage{
   margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.315);
  border-radius: 20px;
  width: 450px;
  height: 400px;
}

.timeCost{
  position: absolute;
  bottom: 0px;
  left: 70px;
  background-color: rgb(8, 204, 188);
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.315);
  display: flex;
}


.ingredientsSection{
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.ingredientBox{
  line-height: 30px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.item{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.144);
  margin: 10px;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  flex-grow: 1;
}

.instructionsBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.instructions{
  font-size: 16px;
  line-height: 40px;
}

