*{
  margin: 0;
  padding: 0;
  font-family: cursive;

}

.brand{
  color: white;
  font-size: 16px;
  transition: color 0.2s;
}

.brand:hover {
  color: #73e49e;
}


nav{
  background-color: #2d7d46; 
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.left{
  display: flex;
  align-items: center;
}

.rightSide{
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  align-self: center;
  margin-top: 5px;
  color: color;
}

.logo{
  width: 40px;
  color: white;
  height: 40px;
}

h3{
  padding: 10px;
  padding-top: 15px;
}

.cat{
  display: flex;
  padding: 10px;
  padding-top: 15px;
}

select{
  height: 25px;
}

.theSearch{
  display: flex;
  justify-self: center;
  margin: 10px;
}

.searchInput{
  padding: 10px;
  margin: 10px;
  width: 350px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.39);
  font-size: 13px;
}

.searchBtn{
  padding: 5px 15px;
  margin-top: 10px;
  height: 40px;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.39);
   border: none;
}

.searchBtn:hover{
  background-color: rgba(0, 255, 0, 0.541);
  color: white;
  transition: 0.1s ease-in-out;
  border: none;
}

.foods{
 margin: auto;
 padding: 10px;
 display: grid;
 grid-template-columns: 1fr 1fr;
 justify-content: center;
 gap: 15px;
 justify-self: center;
 height: fit-content;
}

.foodContainer{
  box-shadow: 2px 2px 5px rgb(189, 189, 189);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin: 5px;
  margin-bottom: 25px;
}

.foodImg{
  width: 200px;
  height: 200px;
}

p{
  margin: 5px;
  padding: 3px;
  font-size: 15px;
}


.foodName{
  background-color: green;
  color: white;
  margin: 5px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px; 
}

.foodCategory{
  color: tomato;
}

.foodCountry{
  color: brown;
}


span{
  color: green;
}

a{
  all: unset;
  color: blueviolet;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  display: flex;
  margin: 5px;
}

footer{
  background-color: #2d7d46;
  color: white;
  height: 185px;
}

h3{
  align-self: center;
  justify-self: center;
  padding: 20px;
  color: #55775e;
}

.copyR, h2{
  font-size: 1rem;
  padding-top: 20px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  padding: 10px;
 
}


.errorMsg{
  color: red;
  margin: 10px;
  padding: 5px;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .foods{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
  }     
}
