
.mainPage{
  margin: 10px;
  padding: 10px;

}

.theSearch{
  display: flex;
  margin: 5px;
  justify-content: center;
}

input{
  padding: 10px 10px;
  width: 300px;
  border: 0.5px solid rgba(128, 128, 128, 0.425);
}

.searchBtn{
  padding: 5px 12px;
  background-color: #28c230;
  border: none;
  color: white;
  cursor: pointer;
}

.searchBtn:hover{
  background: #0d9714 ;
}

input:focus{
  outline: 1px solid #28c230;
  border-radius: 5px;
}

#heading{
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  font-weight: 100;
}


.foods{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.foodContainer{
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  height: auto;
  width: 200px;
  box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.192);
  border-radius: 5px;
}

.foodImg{
  width: 180px;
  height: 200px;
  display: flex;
  margin: 5px;
  border-radius: 5px;
  justify-content: center;
}

.foodImg:hover{
  transform: scale(110%);
  transition: all ease-in-out 0.1s;
}

.foodLink{
  color: blue;
  font-size: 14px;
}

.foodName{
  padding: 5px;
}

.foodCategory, .foodCountry{
  padding: 2px;
  margin: 3px;
  font-style: italic;
  font-size: 14px;
}

.tag{
  color: red;
}
